<div class="container">

    <form [formGroup]="passwordUpdateForm" (ngSubmit)="submitForm()">

        <h2>Password Update</h2>

        <img src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1690465380/otp_aba588.png" class="otpV" />

        <p>Enter your new password</p>

        <div class="box">
            <label for="password">New Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Enter your new Password" />
        </div>

        <div class="box">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword"
                placeholder="Confirm password" />
            <div
                *ngIf="passwordUpdateForm.get('confirmPassword')?.invalid && 
                    (passwordUpdateForm.get('confirmPassword')?.dirty || passwordUpdateForm.get('confirmPassword')?.touched)">
                <div *ngIf="passwordUpdateForm.get('confirmPassword')?.errors?.['required']" class="error">Confirm
                    password is required.</div>
                <div *ngIf="passwordUpdateForm.get('confirmPassword')?.errors?.['passwordMismatch']" class="error">
                    Passwords do not match.</div>
            </div>
        </div>

        <button type="submit" class="submit" [disabled]="passwordUpdateForm.invalid">Update Password</button>
    </form>
</div>