<div class="profile">
    <div class="div">
      <!-- Add your CompNav Angular component here if it exists -->
      
      <div class="overlap-group">
        <div class="rectangle"></div>
        <div class="rectangle-2"></div>
        <div class="text-wrapper">Mbali Chauke</div>
    
        <div class="text-wrapper-3">Account</div>
        <div class="text-wrapper-4">My Progress</div>
        <div class="text-wrapper-5">Share with friend</div>
        <!-- <div class="text-wrapper-6">Review</div> -->
        <a routerLink="/landing" class="text-wrapper-6">Logout</a> 
       <!-- <div class="text-wrapper-7">Logout</div> -->
        <div class="frame"></div>
      </div>
    </div>
  </div>

  