/* Original styles for the Profile section */
.profile {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .div {
    background-color: #ffffff;
    border: 1px none;
    height: 932px;
    position: fixed; /* Set the position to fixed */
    width: 430px;
    top: 0%; /* Center the fixed element vertically */
    left: 0%; /* Center the fixed element horizontally */
    transform: translate(-3%, -3%); /* Center the fixed element precisely */
  }
  
  /* Your other styles */
  