<div class="profile">
  <div class="div">
    <!-- Add your CompNav Angular component here if it exists -->

    <div class="overlap-group">
      <div class="rectangle"></div>
      <div class="rectangle-2"></div>
      <div class="text-wrapper">Mbali Chauke</div>

      <div routerLink="/profile-editor" class="text-wrapper-3">Account</div>
      <a href="https://smart-moola-gb.vercel.app/landing" class="text-wrapper-5">Share with friend</a>
      <div (click)="clear()" class="text-wrapper-6">
        Logout
      </div>

      <div class="frame"></div>
    </div>

  </div>
</div>