.container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15em;

    .backAndTitle {
      display: flex;
      flex-direction: row;

      h5 {
        color: #669bbc;
        font-weight: 600;
        text-align: center;
      }
    }

    .progress {
      width: 100%;
      background-color: pink;
      margin-top: -3em;
    }

    .progress-bar {
      background-color: #669BBC;
    }
  }

  .contentCard {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f6f6f6;
    margin-top: 5em;
    border: 1px solid var(--main-color);
    border-radius: 20px;


    .card {
      display: flex;
      flex-direction: column;
      background-color: #669bbc;
      text-align: center;
      color: #ffffff;
      margin-top: 2rem;
      padding: 15px 20px;
      border-radius: 20px;
    }

    .content {
      color: #669BBC;
      font-size: 12px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ndaBtn {
      background-color: #FFFFFF;
      color: #669BBC;
      font-weight: 500;
      width: 100%;
      margin-top: 2em;
      // margin-bottom: -4em;
    }


    button {
      padding: 10px;
      background-color: #669BBC;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 2rem;
      top: 13em;
      width: 100%;
    }

  }

}