* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

.container {

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -12em;

    .backBtn {
      display: block;
      width: 4rem;
      height: 4rem;
      padding: 10px;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;

    }

    .bi-arrow-left {
      position: absolute;
      /* Position the SVG absolutely */
      left: 8;
      /* Place it at the left edge of the container */
      margin-bottom: 6em;
      margin-top: -2em;
    }

    .progress{
      width: 100%;;
    }
    .progress-bar {
      background-color: #669BBC;
    }
  }

  h5 {
    color: #669BBC;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em;

  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFFFFF;

  .card-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;


    .card {
      display: flex;
      flex-direction: column;
      background-color: #669BBC;
      text-align: center;
      color: #FFFFFF;
      padding: 10px;
      border-radius: 20px;
      margin-top: 3rem;
      padding: 15px 20px;
      width: 90vw;
      border: 1px solid black;


      p {
        font-size: largef;
        margin-bottom: 20px;
        color: #669BBC;
        text-align: center;
        padding: 10px;
        // background-color: pink;
      }

      .a {
        background-color: #FFFFFF;
        color: #669BBC;

      }

      .amdBtn {
        background-color: #FFFFFF;
        color: #669BBC;
        font-weight: 500;
      }

      .ndaBtn {
        background-color: #FFFFFF;
        color: #669BBC;
        font-weight: 500;
        margin-top: 2.5em;
        margin-bottom: -1em;
      }

    }

    button {
      padding: 10px;
      background-color: #669BBC;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 2rem;
      top: 13em;
      width: 100%;
    }

  }

  .content {
    padding: 20px;
    color: #669BBC;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: -3em;
  }
}