<div class="container">

  <div class="header">
    <div>
      <h5>Thank {{fullName}} you for taking your first step in <strong>Debt Management</strong>. <br> We really
        appreciate your time.
      </h5>
      <div class="back" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="#669BBC" class="bi bi-arrow-left">
          <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
      </div>

      <div class="progress " role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar" style="width: 100%">100%</div>
      </div>

    </div>
  </div>

  <div class="contentCard card">

    <p class="content">
      Like we said earlier on, you don't have to face the suffocating debt alone.
      There always solutions to problems. All you needed was to be well informed
      on where to get the help that you really need.
    </p>
    <ul class="card-container ">
      <div class="card">
        <a href="National Debt Advisor" class="ndaBtn btn btn-primary">National Debt Advisor</a>

        <div class="thEnd">
          <a
            href="https://nationaldebtadvisors.co.za/?utm_source=google&utm_medium=cpc&utm_campaign=gsn_debt_review&utm_term=debt%20review%20companies&gad=1&gclid=Cj0KCQjwrfymBhCTARIsADXTabn1Vd6CdNTeF-hxGF1SQD6r48KTroA7k0ZOQ4dZVFRfqqt-0r503vAaAl3EEALw_wcB"></a>
        </div>
      </div>

      <button class="submit" routerLink="/home">Done</button>
    </ul>
    <app-footer></app-footer>
  </div>