<div class="landing-page">
    <div class="group-wrapper">
      <div class="group">
        <div class="landing">
          <div class="overlap-group">
            <app-comp class="comp-instance"></app-comp>
            <app-comp class="comp-instance"></app-comp>
            <app-comp-nav
              battery="image.png"
              class="comp-nav-instance"
              mobileSignal="mobile-signal-2.svg"
              statusBarLightClassName="design-component-instance-node"
              time="time-2.svg"
              wifi="image.svg"
            ></app-comp-nav>
            <app-comp-but class="comp-but-instance" submitClassName="comp-but-2" text="Get Started"></app-comp-but>
            <div class="ellipse"></div>
            <img class="screenshot" alt="Screenshot" src="screenshot-2023-07-24-at-09-46-1.png" />
            <p class="take-charge-of-your">
              <span class="text-wrapper">
                Take charge of your Moola <br />
                with our
              </span>
              <span class="span">SmartMoola App</span>
            </p>
            <div class="div">SmartMoola</div>
            <p class="p">Get to understand credit and debt in the simplest way</p>
            <h1 class="h-1">SmartMoola</h1>
            <img
              class="credit-card-mockup"
              alt="Credit card mockup"
              src="credit-card-mockup-with-floating-props-mockup-zone-removebg-preview-2.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  