<div class="container">
  <h1 class="h-1">SmartMoola</h1>
  <div class="overlap-wrapper">
    <div class="overlap">
      <div class="group">
        <div class="landing">
          <div class="overlap-group">
            <div class="ellipse">
              <img src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1690278233/getStarted_lkme7f.png"
                class="getStartedImg" />
            </div>
            <div class="smallEllipse">
              <p class="text-wrapper-2">
                We are all about providing information 
                about credit and debt to debt-free people and people with debt.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a routerLink="/getstarted" class="submit">Get Started</a>
  </div>
</div>