<ng-container *ngIf="responses=='true'; else response">

  <div class="container">
    <div>
      <h4 class="d-flex justify-content-center align-items-center pt-5 textColor" style="font-size: xx-large ">
        Congratulations <br><br><br> </h4>
    </div>
    <div class="contentContainer card space-between py-4 headerTopMargins">
      <h4 class="textColor"> Tumi's answer is correct </h4>

      <img src="../../../../../assets/IMG-20220331-WA0030.jpg" class="p-4" />

      <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="green" class="bi bi-check-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>
    </div>
  </div>

</ng-container>

<ng-template #response>

  <div class="container">
    <div>
      <h4 class="d-flex justify-content-center align-items-center pt-5 textColor" style="font-size: xx-large ">
        OOps Incorrect <br><br><br> </h4>
    </div>
    <div class="contentContainer card space-between py-4 headerTopMargins">
      <h4 class="textColor"> Tumi's answer is incorrect </h4>
      <img src="../../../../../assets/IMG-20220331-WA0030.jpg" class="p-4" />

      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-x-circle-fill"
        viewBox="0 0 16 16 ">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
      </svg>
    </div>
  </div>

</ng-template>