<div class="container">
<div class="d-flex justify-content-center py-4 header">
    <h4>{{answers}}</h4>
</div>
</div>
<div class="container">
 
    <!-- <div class="bodyContainer d-flex justify-content-center">
        <h5><b>Importance of credit</b></h5>

        <span>
            Credit plays an important role in reaching your financials objectives. Whether you are looking to purchase a
            house or start a business, having access to credit makes simple than ever to secure the funding necessary.
        </span>
        <br />
        <span>
            Its essential that you use it in a responsibly and pay your bills on time in order to maintain a good credit
            score standing.
        </span>
    </div>
    <br> -->
    <button class="btn" (click)="continueToNext()">
      Continue
    </button>

</div>