.bodyContainer{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color:#669BBC ;
padding: 64px;

}

.header{
    background-color: #fff !important;
    color: #669BBC;
 
}

.btn{
/* display: inline-flex; */
padding: 16px 65px 15px 65px;
justify-content: center;
align-items: center;
background: #669BBC;
margin-left: 80px;
margin-top: 530px;
color: #fff;
}

span
{
  margin-top: 2vh;
  text-align: center;
  color: #fff;
  font-weight: 400; 

}

h5
{
    color: #fff;
}