.container {
  height: 100vh;
  position: fixed;
  margin-bottom: 10px;

  .questions {
    padding: 3px;
    margin-bottom: 2em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f1f1f1;
    height: 65%;

    .column {
      float: left;
      width: 50%;
      padding: 15px 6px;
      height: 50%;

      .card {
        padding: 4px;
        // height: 20%;
        text-align: center;
        background-color: #f1f1f1;
        color: #669bbc;
        border: 1px solid;
      }
    }
  }

  .header {
    h1 {
      margin-top: 5vh;
      text-align: center;
      color: #669bbc;
      font-weight: 700;
    }
  }

  h5 {
    margin-top: 4vh;
    margin-bottom: 2em;
    text-align: center;
    color: #669bbc;
    font-weight: 500;
  }

  .submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #669bbc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 4px;
    text-align: center;
    margin-top: -45em;
  }

  .backBtn {
    display: block;
    width: 4rem;
    height: 4rem;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }

  .footer {
    position: absolute;
    bottom: 1em;
  }

  .btns {
    display: flex;
    flex-direction: row;
  }

  span {
    margin-top: 5vh;
    text-align: center;
    color: #669bbc;
    font-weight: 400;
  }
}


@media screen and (max-width: 300px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
}

.getHomeImg {
  height: 15em;
  width: 12em;
  position: absolute;
  top: 1em;
  left: 6em;
}

.submit {
  display: block;
  width: 80%;
  padding: 10px;
  background-color: #669bbc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
  text-align: center;
  margin-top: 130px;
  margin-top: -40em;
}
