<div class="container">
  <div class="header">
    <h1>
      Basics of <br />
      Credit & Debt
    </h1>
  </div>
  <div class="questions">
    <h5>{{ question }}</h5>
    <div class="twoColumns">
      <div class="column">
        <div class="card">
          <img style="width: 162px; height: 124px"
            src="https://res.cloudinary.com/dgj1ebngq/image/upload/v1691071057/mandla_bt5ydf.jpg" />
        </div>
        <div style="height: 60px">
          <span>{{ mandlaResponse }}</span>
        </div>

        <button (click)="submitMandla()" class="submit btn">Mandla</button>
      </div>
      <div class="column">
        <div class="card">
          <img style="width: 162px; height: 124px"
            src="https://res.cloudinary.com/dgj1ebngq/image/upload/v1691071065/Tumi_eel2ma.jpg" />
        </div>
        <div style="height: 60px">
          <span>{{ tumiResponse }}</span>
        </div>
        <button (click)="submitTumi()" class="submit btn">Tumi</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

</div>