.modal {
    padding: 20px;

    .modal-content {
        padding: 20px;

        .airesponse {
            padding: 5px;
        }

        button {
            background-color: var(--main-color);
        }
    }
}

.modal-content {
    padding: 20px;
    background-color: pink;
}