<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  <button type="submit" class="btn btn-primary">Submit</button>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="creditHeading">
          <h2>Credit Score</h2> 
      </div>
      <div class="modal-body">
          <div class="response">
              Username you are doing great, you are correct.
             </div>

             <div class="imagebox">
               <img class="imagebox1" src="https://cdn.discordapp.com/attachments/1093145057919520828/1142077131980030045/istockphoto-1370683653-1024x1024-transformed-removebg-preview.png" alt="">
             </div>

            <div class="AIdefinition">
              Credit score shows money management: higher score improves loans approvals, lower score leads loan disapproval and if approved the loan will have higher interest rates.
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>