* {
  margin: 0;
  padding: 2px;
  padding: 2px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: -30em;

    .progress-bar {
      background-color: #669bbc;
    }

    .bi {
      // margin-bottom: 10rem;
    }
    
    .progress {
      width: 100%;
      height: auto;
      margin-right: 1.5rem;
      border-radius: 50px;
      // margin-top: -55em;
      margin-left: 1.5em;
    }

    .backBtn {
      display: block;
      width: 4rem;
      height: 4rem;
      padding: 10px;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      // margin-top: 30em;
    }

  }

  h5 {
    color: #669bbc;
    font-weight: 800;
    // margin-top: -35em;
  }

  .card-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    // margin-top: -15em;
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: #669bbc;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    margin-top: 3rem;
    padding: 15px 20px;
    width: 90vw;
    border-radius: 20px;
    border: 1px solid black;

    //Absa credit package component
    a {
      background-color: #ffffff;
      width: 100%;
      color: #669bbc;
    }
  }

  .submit-1 {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    position: flex;
    margin-top: 2em;
    border-radius: 4px;
  }


}