<div class="container">
  <div class="header">
    <div>
      <img
        src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1692012504/left_t5lbyk.png"
        class="backBtn"
        (click)="goBack()"
      />
    </div>
  </div>

  <h5>Credit And Debt Summary</h5>

  <ul class="card-container">
    <div class="card">
      <p>Credit And Debt Review</p>
      <a href="Download" class="btn btn-primary">Download</a>
    </div>

    <div class="card">
      <p>Absa Credit Packages</p>

      <div class="thEnd">
        <a
          href="https://www.absa.co.za/personal/bank/a-credit-card/explore/?cmpid=SGOOGL_E7ot2&gad=1&gclid=CjwKCAjw5_GmBhBIEiwA5QSMxODz2ur0eA_JszP3qtlVXT-RyZYScf9mFv7nsX5PmHmDlF8WnDtyiRoCmN4QAvD_BwE"
          class="btn btn-primary"
          >Absa Credit Packages</a
        >
      </div>
    </div>
    <button class="submit">Done</button>
  </ul>
</div>
