.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;

    form {
        background-color: #FFFFFF;
        height: 100vh;

        h2 {
            text-align: center;
            color: var(--main-color);
            margin-top: 2em;
        }

        img {
            width: 25vw;
        }

        .box {
            margin-bottom: 20px;

            label {
                display: block;
                font-weight: bold;
                color: #669BBC;
            }

            input[type="email"],
            input[type="password"] {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;

            }

        }

        .boxSubmit {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        button {
            padding: 10px;
            background-color: #669BBC;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: 2rem;
            top: 1.3em;

        }

        p {
            margin-top: 0.5rem;
        }

        .error {
            color: red;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        form {
            background-color: #FFFFFF;
            height: 100vh;

            h2 {
                text-align: center;
            }

            img {
                width: 60vw;
            }

            .box {
                margin-bottom: 20px;

                label {
                    display: block;
                    font-weight: bold;
                    color: #669BBC;
                }

                input[type="email"],
                input[type="password"] {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;

                }

            }

            .boxSubmit {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            button {
                padding: 10px;
                background-color: #669BBC;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;

            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        form {
            background-color: #FFFFFF;
            height: 100vh;

            h2 {
                text-align: center;
            }

            img {
                width: 60vw;
            }

            .box {
                margin-bottom: 20px;

                label {
                    display: block;
                    font-weight: bold;
                    color: #669BBC;
                }

                input[type="email"],
                input[type="password"] {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;

                }

            }

            .boxSubmit {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            button {
                padding: 10px;
                background-color: #669BBC;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;

            }
        }
    }
}

@media only screen and (max-width: 430px) {
    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        form {
            background-color: #FFFFFF;
            height: 100vh;

            h2 {
                text-align: center;
            }

            img {
                width: 94vw;
            }

            .box {
                margin-bottom: 20px;

                label {
                    display: block;
                    font-weight: bold;
                    color: #669BBC;
                }

                input[type="email"],
                input[type="password"] {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;

                }

            }

            .boxSubmit {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            button {
                padding: 10px;
                background-color: #669BBC;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;

            }
        }
    }

}

// Desktop Responsiveness 

@media (min-width: 414px) {

    .container {
        margin-left: 15em;
        background-color: var(--main-color);


        form {
            background-color: #FFFFFF;
            height: 50%;
            width: 50%;
            padding: 30px;
            box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.1);

            h2 {
                margin-bottom: 0.5em;
                font-weight: 700;
            }

            .loginImg {
                display: none;
            }

            .inputElemsBS {
                display: flex;
                flex-direction: column;
            }

            .box {
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;

                label {
                    display: block;
                    font-weight: bold;
                    color: #669BBC;
                }

                input[type="email"],
                input[type="password"] {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;

                }

            }

            .boxSubmit {

                .submit {
                    top: 47em;
                    left: 30.5em;
                    height: 3em;
                    width: 44.3%;
                }
                .submit:hover {
                    background-color: var(--sub-color);
                }

                .fpassword {
                    margin-top: 6em;
                    align-items: center;
                }

                .anchor {
                    margin-top: 10em;

                }

                p {
                    margin-top: 2em;
                }
            }
        }
    }
}