.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;

    form {
        background-color: #FFFFFF;
        height: 100vh;

        h2 {
            text-align: center;
            color: var(--main-color);
            margin-top: 2em;
        }

        img {
            width: 25vw;
        }

        .box {
            margin-bottom: 20px;

            label {
                display: block;
                font-weight: bold;
                color: #669BBC;
            }

            input[type="email"],
            input[type="password"] {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;

            }

        }

        .boxSubmit {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        button {
            padding: 10px;
            background-color: #669BBC;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: 2rem;
            top: 10em;
            width: 100%;

        }

        p {
            margin-top: 0.5rem;
            text-align: center;
            color: #669BBC;
            margin-bottom: 4em;
        }

        .otpUI {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 8em;

        }

        .otpField {
            height: 5.5em;
            width: 5.5em;
            border: none;
            border-radius: 20px;
            background: #F6F6F6;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            text-align: center;
            font-size: 15px;
        }

        .error{
            color: red;
          }
    }
}

@media only screen and (max-width: 1200px) {
    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        form {
            background-color: #FFFFFF;
            height: 100vh;

            h2 {
                text-align: center;
            }

            img {
                width: 60vw;
            }

            .box {
                margin-bottom: 20px;

                label {
                    display: block;
                    font-weight: bold;
                    color: #669BBC;
                }

                input[type="email"],
                input[type="password"] {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;

                }

            }

            .boxSubmit {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            button {
                padding: 10px;
                background-color: #669BBC;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;

            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        form {
            background-color: #FFFFFF;
            height: 100vh;

            h2 {
                text-align: center;
            }

            img {
                width: 60vw;
            }

            .box {
                margin-bottom: 20px;

                label {
                    display: block;
                    font-weight: bold;
                    color: #669BBC;
                }

                input[type="email"],
                input[type="password"] {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;

                }

            }

            .boxSubmit {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            button {
                padding: 10px;
                background-color: #669BBC;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;

            }
        }
    }
}

@media only screen and (max-width: 430px) {
    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        form {
            background-color: #FFFFFF;
            height: 100vh;

            h2 {
                text-align: center;
            }

            img {
                width: 94vw;
            }

            .box {
                margin-bottom: 20px;

                label {
                    display: block;
                    font-weight: bold;
                    color: #669BBC;
                }

                input[type="email"],
                input[type="password"] {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;

                }

            }

            .boxSubmit {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            button {
                padding: 10px;
                background-color: #669BBC;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;

            }
        }
    }

}