<div class="container">

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">

        <h2>OTP Verification</h2>

        <img src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1690465380/otp_aba588.png" class="otpV" />
        <p>Enter the OTP sent to your email</p>

        <div class="otpUI">
            <div *ngFor="let fieldName of otpFieldNames; let i = index" class="otpBox">
                <input type="text" [id]="fieldName" [formControlName]="fieldName" class="otpField" />
                <div *ngIf="form.get(fieldName)?.invalid && (form.get(fieldName)?.dirty || form.get(fieldName)?.touched)"
                    class="mt-3">
                    <div *ngIf="form.get(fieldName)?.errors?.['required']" class="error">OTP is required.</div>
                </div>
            </div>
        </div>

        <button type="submit" class="submit" [disabled]="form.invalid">Verify</button>

    </form>
</div>