<!-- register.component.html -->
<div class="register">
    <div class="overlap-wrapper">
      <div class="overlap">
        <div class="group">
          <div class="overlap-group">
            <!-- CompNav Component -->
            <div>
           
  
            
            <form formGroup="fb" (ngSubmit)="register()">
                <p class="text-center text-muted">Already have an account? <a href="#!" routerLink="/login"
                    class="text ml-1 font-medium text-blue-400"><u>Login here</u></a></p>
    
                    <div class="d-flex justify-content-center">
                        <button type="submit"
                          class="btn">Register</button>
                      </div>
    
            <div class="div-wrapper">
              <div class="div">Confirm Password</div>
            </div>
  
            <div class="overlap-2">
              <div class="text-wrapper-2">Password</div>
            </div>
  
            <div class="overlap-3">
              <div class="text-wrapper-3">Email</div>
            </div>
  
            <div class="overlap-4">
              <div class="text-wrapper-3">Surname</div>
            </div>
  
            <div class="overlap-5">
              <div class="text-wrapper-4">Name</div>
            </div>
  
            <h1 class="h-1">Register</h1>
  
           
           </form>

          </div>
        </div>
        <!-- BackArrow Component -->
        <div class="back-arrow-instance">
          <!-- Your back-arrow component content goes here -->
        </div>
      </div>
    </div>
  </div>
  