<div class="container">
    <h2>Password Update</h2>

    <form [formGroup]="passwordUpdateForm" (ngSubmit)="submitForm()">
        <div class="box">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" formControlName="newPassword" />
        </div>
        <div class="box">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" />
            <div
                *ngIf="passwordUpdateForm.get('confirmPassword')?.invalid && 
                    (passwordUpdateForm.get('confirmPassword')?.dirty || passwordUpdateForm.get('confirmPassword')?.touched)">
                <div *ngIf="passwordUpdateForm.get('confirmPassword')?.errors?.['required']" class="error">Confirm
                    password is required.</div>
                <div *ngIf="passwordUpdateForm.get('confirmPassword')?.errors?.['passwordMismatch']" class="error">
                    Passwords do not match.</div>
            </div>
        </div>

        <button type="submit" class="submit" [disabled]="passwordUpdateForm.invalid">Update Password</button>
    </form>
</div>