.container {
  height: 100vh;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: -1.5em;
    margin-top: 1em;
    padding: 20px;

    .backBtn {
      display: block;
      width: 4rem;
      height: 4rem;
      padding: 10px;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      // margin-left: 2.4em;
      // left: 60em;
      text-align: center;
    }

    .progress {
      position: fixed;
      width: 70%;
      left: 7em;
    }

  }

  h5 {
    margin-top: 4vh;
    text-align: center;
    color: #669BBC;
    font-weight: 900;
  }

  p {
    color: var(--main-color);
    text-align: center;
    background-color: #F6F6F6;
  }

  .column {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 2em;

    .card {
      color: var(--main-color);
      justify-content: center;
      border-radius: 30px;
      padding: 5px;
      border: none;

    }

    .imgElem {
      .imgTag {
        height: 10em;
        width: 10em;
        border-radius: 30px;
      }
    }
  }

  .submit {
    display: block;
    width: 96%;
    padding: 10px;
    background-color: #669BBC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: -50em;
    left: -1.6em;

  }
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 200px) {
  .column {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
  }
}

.btn {
  background-color: #669BBC;
  color: #fff;
}

.progress-bar {
  background-color: #669BBC;
  width: 62rem;
}

.submit {
  display: block;
  width: 90%;
  padding: 10px;
  background-color: #669BBC;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 22px;
  text-align: center;
  margin-top: -30px;

}

.submit:hover {
  background-color: #669BBC;
}