<div class="container">

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">

        <h2>Login</h2>

        <img src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1690273286/loginImg_x6zybu.png" class="loginImg"
            alt="Image description">

        <div class="box">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="Enter your email" />
            <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)"
                class="mt-3">
                <div *ngIf="form.get('email')?.errors?.['required']" class="error">Email is required.</div>
                <div *ngIf="form.get('email')?.errors?.['email']" class="error">Invalid email format.</div>
            </div>
        </div>

        <div class="box">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Enter your password" />
            <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
                class="mt-3">
                <div *ngIf="form.get('password')?.errors?.['required']" class="error">Password is required.</div>
                <div *ngIf="form.get('password')?.errors?.['minlength']" class="error">Password should have at least 8
                    characters.
                </div>
            </div>
        </div>

        <button type="submit" class="submit" [disabled]="form.invalid"><a>Login</a></button>
        <a routerLink="/resetpassword" class="fpassword">Forgot password?</a>
        <p>Don't have an account? <a href="registration" routerLink="/register" class="anchor">Register</a></p>

    </form>
</div>