.container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: stretch;
    height: 100vh;
    padding: 20px;
  }

  .submit-1 {
    display: block;
    width: 90%;
    padding: 10px 0;
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    position: absolute;
    bottom: 5em;
    left: 1

}

.card {
  justify-content: space-between;
  background-color: var(--main-color);
  color: #FFFFFF;
  padding: 80px;
  font-size: 18px;
}




