<div class="container">
  <div class="header">
    <app-navigation-menu></app-navigation-menu>
    <h1>SmartMoola</h1>
  </div>

  <img
    src="https://res.cloudinary.com/dgj1ebngq/image/upload/v1690531147/3D_young_woman_chatting_online_with_headphones_Illustration_1_t3qqa0.png"
    class="getHomeImg" />
  <p>Hello Lerato, please choose the option that relates with you.</p>

  <ul class="card-container">
    <li>
      <div class="card">
        Failing to make payments can harm credit score and future
        financial opportunities, even without existing debt.
        <a href="no-debt" class="btn btn-primary">No Debt</a>
      </div>
    </li>
