* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    padding: 5em;
}

.container-inn {
    background-color: pink;
    width: 25rem;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.two p {
    color: #669BBC;
    text-align: center;
    align-items: center;
}

p {
    color: #669BBC;
    text-align: center;
}

.three {
    background-color: #669BBC;
    color: #FFFFFF;
    border-radius: 20px;
    height: 50px;
}

.three p {
    padding: 0.5em;
    color: #FFFFFF;
}

.four {
    display: flex;
    justify-content: center;
}

.baImg {
    height: 30vh;
    margin-top: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #669BBC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    // position: fixed;
    // top: 37em;
}