.container {
  form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    width: 25rem;

    h2 {
      display: flex;
      justify-content: center;
      color: #669BBC;
      margin-bottom: 2.4em;
    }


    label {
      display: block;
      font-weight: bold;
      color: #669BBC;
    }

    input[type=text],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #669BBC;
    }

    input::placeholder {
      color: #D9D9D9;
    }

    p {
      text-align: center;
      margin-top: 10px;
    }

    input#password,
    input#confirmPassword {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .submit {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #669BBC;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      margin-bottom: 2rem;
      top: 1.5em;
    }

    .error {
      color: red;
    }
  }

}

// Desktop Responsiveness 

@media (min-width: 414px) {
  body{
    background-color: var(--main-color);
}
  .container {
    margin-left: 15em;
    background-color: var(--main-color);
    height: 100vh;

    form {
      background-color: #FFFFFF;
      height: 70%;
      width: 50%;
      padding: 30px;
      box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.1);

      h2 {
        margin-bottom: 0.5em;
        font-weight: 700;
      }

      .box {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        label {
          display: block;
          font-weight: bold;
          color: #669BBC;
        }

        input[type="email"],
        input[type="password"] {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

      }

      .submit {
        top: 42em;
        left: 2.4em;
        height: 3em;
        width: 93%;
      }

      .submit:hover {
        background-color: var(--sub-color);
      }

      p {
        margin-top: 9em;
      }

    }
  }
}