<div class="container">
  <div class="contentContainer space-between headerTopMargins">
    <div class="header">
      <div class="card">
        <h5>Hey <strong>{{ fullName }} </strong>here is the correct answer</h5>
      </div>
    </div>
    <div class="cardContainer">
      <div class="card2">
        <p><br />{{explanation}}</p>
      </div>
      <div class="landing">
        <a routerLink="/no-debt-user" class="submit-1" id="submitBS">Continue</a>
      </div>

    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>