







<div class="container">
  
    <div class="header">
        <h2 class="userName">Given did you know?</h2>
        <div class="pgbar">
        <div class="progress" role="progressbar" aria-label="Example with label" 
          aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar">0%</div>
        </div>
      </div>
       
    </div>
    
    
    <div class="body">
        <div class="topStatement">
            <p class="statement">
            You don't have to face the suffocating debt alone; SmartMoola is here to support you & help you find a way to ease your financial burden.
            </p>
        </div>
      
       
        <div class="TheImage">
            <img class="imagebox1" src="https://cdn.discordapp.com/attachments/1093145057919520828/1138459034161270844/Free_Vector___Calculator_concept_illustration-removebg-preview.png" alt=""> 
        </div> 

        <div class="BottomStatement">
            <p class="statement2">
                We're here to guide you through your journey toward a brighter financial future, free from the weight of debt. Let’s help you explore some solutions.
            </p>
        </div>
      
    </div> 

    <div class="btnNext">
        <button class="btn" routerLink="/indebtedscene" >Next</button>
    </div>
    
    <div class="footer">
      <app-footer></app-footer>
    </div>
    
    </div>