<div class="container">
    <div class="header">

        <div class="back-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#669BBC" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </div>
        
        <div class="creditHeading">
            <h2>Credit Score</h2> 
        </div>

        <div class="pgbar">
            <div class="progress" role="progressbar" aria-label="Example with label" [attr.aria-valuenow]="progressPercentage"
              aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" [style.width.%]="progressPercentage">{{ progressPercentage }}%</div>
            </div>
        </div>

    
    </div>

    <div class="body">
       <div class="response">
         Username you are doing great, you are correct.
       </div>
       

       <div class="imagebox">
         <img class="imagebox1" src="https://cdn.discordapp.com/attachments/1093145057919520828/1142077131980030045/istockphoto-1370683653-1024x1024-transformed-removebg-preview.png" alt="">
       </div>

       <!--https://cdn.discordapp.com/attachments/1093145057919520828/1142077131980030045/istockphoto-1370683653-1024x1024-transformed-removebg-preview.png-->
       <!--3d_Green_Check_Mark_Icon_In_Round_Isolated_Transparent_Background_Tick__Check_Mark__Done_Icon__Check_PNG_and_Vector_with_Transparent_Background_for_Free_Download-->
      <div class="AIdefinition">
        Credit score shows money management: higher score improves loans approvals, lower score leads loan disapproval and if approved the loan will have higher interest rates.
      </div>
       
    </div>
   
    <div class="continueBtn">
      <button class="submitBtn">Continue</button>
    </div>
   

    <div class="footer">
       <app-footer></app-footer>
    </div>

</div>
