<div class="container">

  <div class="header">
    <div class="back-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#669BBC" class="bi bi-arrow-left"
        viewBox="0 0 16 16" (click)="goBack()">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
    </div>
  </div>

  <h5>Hey {{fullName}} did you know ?</h5> <br>
  <p>
    "Strong credit scores open doors to better deals,
    lower rates, and improved opportunities.
    Building good credit is like paving a smoother
    road to your financial goals. Make smart money
    choices for a brighter credit future."
  </p>
  <div class="column">
    <div class="card">A good credit score helps you get cheaper loans, easier approvals, and more financial
      opportunities. It also affects things like renting, finding jobs, and getting better deals.</div>
    <div class="imgElem">
      <img src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1692178188/3w_snxtf4.jpg" class="imgTag" />
    </div>
  </div>
  <div class="column">
    <div class="card">With a credit card, you can borrow money from a bank or institution for purchases, paying back the
      amount later, sometimes with added interest if not fully repaid.</div>
    <div class="imgElem">
      <img src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1692178188/3w_snxtf4.jpg" class="imgTag" />
    </div>
  </div>
  <div class="column">
    <div class="card">Late payments harm credit scores and limit financial opportunities; prioritize on-time payments
      and communicate with creditors to protect credit score.
    </div>
    <div class="imgElem">
      <img src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1692178188/3w_snxtf4.jpg" class="imgTag" />
    </div>
  </div>
  <a routerLink="/no-debt-user" class="submit">Next</a>

    <app-footer></app-footer>
  
</div>