<!-- <div class="container">
  <h1 class="h-1">SmartMoola</h1>
  <div class="overlap-wrapper">
    <div class="overlap">
      <div class="group">
        <div class="landing">
          <div class="overlap-group">
            <div class="ellipse">
              <img src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1690278233/getStarted_lkme7f.png"
                class="getStartedImg" />
            </div>
            <div class="smallEllipse">
              <p class="text-wrapper-2">
                We are all about providing information
                about credit and debt to debt-free people and people with debt.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a routerLink="/register" class="submit">Get Started</a>
  </div>
</div> -->

<div class="container" id="app-landing">
  <div class="container-left">
    <h1>Let’s Get You<br/> Moola Smart</h1>
    <p>
      WE HELP YOU UNDERSTAND CREDIT & DEBT WITH SIMPLIFIED AND REAL LIFE
      SCENARIOS.
    </p>
    <div class="bottom">
      <div class="one">
        <div class="imgBS">
          <img
            src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1692178188/2w_ww6woh.jpg"
            class="landingImgBS"
          />
        </div>
        <div class="contentLandingBS">
          <h5>DEBT</h5>
          <p>
            You don't have to face the suffocating debt alone; help is here to
            support you and find a way to ease your financial burden.
          </p>
        </div>
      </div>
      <div class="one">
        <div class="imgBS">
          <img
            src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1694687422/3_eydtu5.jpg"
            class="landingImgBS"
          />
        </div>
        <div class="contentLandingBS">
          <h5>CREDIT</h5>
          <p>
            Failing to make timely payments can harm credit score and future
            financial opportunities, even without existing debt.
          </p>
        </div>
      </div>
      <div class="one">
        <div class="imgBS">
          <img
            src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1694607006/1_mkzvzj.png"
            class="landingImgBS"
          />
        </div>
        <div class="contentLandingBS">
          <h5>CREDIT SCORE</h5>
          <p>
            A credit score is a three-digit number that reflects your
            creditworthiness, influencing your ability to borrow money and the
            interest rates you'll pay.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-right">
    <h1 class="h-1">SmartMoola</h1>
    <div class="overlap-wrapper">
      <div class="overlap">
        <div class="group">
          <div class="landing">
            <div class="overlap-group">
              <div class="ellipse">
                <img
                  src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1690278233/getStarted_lkme7f.png"
                  class="getStartedImg"
                />
              </div>
              <div class="smallEllipse">
                <p class="text-wrapper-2">
                  We are all about providing information about credit and debt
                  to debt-free people and people with debt.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a routerLink="/login" class="submit">Get Started</a>
    </div>
  </div>
</div>
