<div class="container">
  <div class="getting-started">
    <div class="overlap-wrapper">
      <div class="overlap-group">
        <div class="overlap-group">
          <div class="ellipse">
            <img src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1690278790/getStartedF_j1r4l1.png"
              class="getStartedImg" />
          </div>
        </div>
        <p class="join-us-on-this-game">
          <br />
          Join us on this game-changing adventure to level up your financial game!
        </p>
      </div>
    </div>
  </div>
<div class="navigation">
  <a routerLink="/register" class="submit">Register</a>
  <p>Already have an account? <a href="login" class="anchor">Login</a></p>
</div>

</div>