<div class="container landing-page">
  <div class="overlap-wrapper">
    <div class="overlap">
      <div class="group">
        <div class="landing">
          <div class="overlap-group">
            <div class="ellipse">
              <img src="https://res.cloudinary.com/dgj1ebngq/image/upload/v1691159181/getStarted_fu2xwq.png"
                class="getStartedImg" />
                <a routerLink="/login" class="btn btn" style="padding: 15px; margin-left: 1.5em; width: 150px; height: 13%; background-color: #669BBC; color: #fff;">Login</a>
                <a routerLink="/register" class="btn btn" style="margin-left: 1em; padding: 15px; width: 150px; color: #fff; height: 13%; background-color: #669BBC;">Register</a>  
            </div> 
            <h1 class="h-1">SmartMoola</h1>
            <div class="div"></div>
            <p class="text-wrapper-2">
              This app is all about providing information about credit and debt to debt-free people and people with
              debt.
           </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>