<div class="container landing-page">
  <div class="overlap-wrapper">
    <div class="overlap">
      <div class="group">
        <div class="landing">
          <div class="overlap-group">
            <div class="ellipse">
              <img src="https://res.cloudinary.com/dgj1ebngq/image/upload/v1691159181/getStarted_fu2xwq.png"
                class="getStartedImg" />
                <input type="/login" class="btn btn" value="Login" style="padding:15px;margin-left: 5%;width: 40%;height: 13%;background-color:#669BBC; color: #fff;">
                <input type="Register" class="btn btn" value="Register" style="margin-left: 15%;padding:15px;width: 40%; color: #fff; height: 13%; background-color:#669BBC;">
                <a routerLink="/login" class="submit">Login</a>
                <!-- <a routerLink="/aa" class="submit1">Next</a> -->
            </div>
            <h1 class="h-1">SmartMoola</h1>
            <div class="div"></div>
            <p class="text-wrapper-2">
              This app is all about providing information about credit and debt to debt-free people and people with
              debt.
           </p>
          </div>
        </div>
      </div>
    </div>
   <!-- <a routerLink="/getstarted" class="submit">§</a>
   <a routerLink="/getstarted" class="submit">Register</a> -->
  </div>
</div>