<!-- <div class="container">
    <div class="header">
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar" style="width: 10%">10%</div>
        </div>
    </div>
    <div class="two">
        <p>
            You don't have to face the suffocating debt alone;
            SmartMoola is here to support you and find a way to ease your financial burden.
        </p>
    </div>
    <div class="three">
        <p>
            Debt Consolidation could be one of the solutions
        </p>
    </div>
    <div class="four">
        <img src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1690803202/inde1_rix6lk.png" class="baImg" />
    </div>
    <div class="five">
        <p>
            Debt consolidation simplifies multiple debts by combining them into one,
            potentially with a lower interest rate, to make repayment easier for the individual.
        </p>
    </div>
    <div class="six">
        <button routerLink="/indebtedscene">Next</button>
    </div>
</div> -->







<div class="container">
  
    <div class="header">

        <div class="pgbar">
        <div class="progress" role="progressbar" aria-label="Example with label" 
          aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar">0%</div>
        </div>
      </div>
       
    </div>
    
    
    <div class="body">
        
        <p>
            You don't have to face the suffocating 
debt alone; SmartMoola is here to support you & help you find a way to ease your financial burden.
        </p>

        <div class="six">
            <img class="imagebox" src="https://res.cloudinary.com/dp4dd0gis/image/upload/v1690803202/inde1_rix6lk.png" class="baImg" />
        </div>

        <div class="statement">
            <p>
                Debt consolidation simplifies multiple debts by combining them into one,
                potentially with a lower interest rate, to make repayment easier for the individual.
            </p>
        </div>
        <div class="six">
            <button routerLink="/indebtedscene">Next</button>
        </div>
    </div>
    
    <div class="footer">
      <div class="menu">
        <app-footer></app-footer>
      </div>
    </div>
    
    </div>