.container {
    height: 100vh;
    padding: 4em;

    .contentContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
        height: 65%;
        align-items: center;
        border: 1px solid var(--main-color);
        background-color: #f1f1f1;
        border-radius: 10px;
        align-items: center;

        .headerTopMargins {
            margin-top: 100px;
        }

        .imageContainer {
            width: 192px;
            height: 209px;
            margin-top: 2em;
            margin-bottom: 3em;
            border-radius: 3em;
        }

        .textColor {
            align-content: center;
            margin-bottom: 2em;
            width: 100%;
        }

        .p-1 {
            border-radius: 15px;
            margin-bottom: 2em;
            height: 75%;
            width: 100%;
        }

    }
}

@media (min-width: 414px){
    .container{
      padding: 20px;
  
      h4{
        text-align: center;
        font-weight: 700;
      }
    }
  
  }