<div class="container">
  <h1 class="h-1">SmartMoola</h1>

  <div class="overlap-wrapper">
    <div class="ellipse">
      <img src="https://res.cloudinary.com/dgj1ebngq/image/upload/v1691159181/getStarted_fu2xwq.png"
        class="getStartedImg" />
    </div>
    <div class="inline-buttons">
      <a routerLink="/register" class="submit">Register</a>
      <a routerLink="/login" class="submit submit-inline">Login</a>
    </div>
    <div class="smallEllipse">
      <p class="text-wrapper-2">
        "Take charge of your finances:
        Learn how to handle credit wisely,
        pay off debt, and enjoy a better financial life!"
      </p>
    </div>
  </div>
</div>