* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h2 {
    display: flex;
    justify-content: center;
    color: #669BBC;
    margin-bottom: 2.4em;
  
  }
  
  form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    width: 25rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #669BBC;
  }
  
  input[type=text],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #669BBC;
  }
  
  .container input::placeholder {
    color: #D9D9D9;
  }
  
  .submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #669BBC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
  }
  
  .submit:hover {
    background-color: #669bbc;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  .alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
  }
  .error{
    color: red;
  
  }
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  input#password,
  input#confirmPassword {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }