<div class="container">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">

    <h2>Accounting Settings</h2>

    <div>
      <label for="name">Full Name</label>
      <input type="text" id="fullName" formControlName="fullName" placeholder="Enter your full name" />
      <div *ngIf="form.get('fullName')?.invalid && (form.get('fullName')?.dirty || form.get('fullName')?.touched)"
        class="mt-3">
        <div *ngIf="form.get('fullName')?.errors?.['required']" class="error">Full name is required.</div>
        <div *ngIf="form.get('fullName')?.errors?.['minlength']" class="error">Full name should have at least
          a min of 3 characters.</div>
      </div>
    </div>

    <div class="box">
      <label for="surname">E-mail</label>
      <input type="text" id="email" formControlName="email" placeholder="Enter your email"/>
      <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)" class="mt-3">
        <div *ngIf="form.get('email')?.errors?.['required']" class="error">E-name is required.</div>
      </div>
    </div>

    <div class="box">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter your password" />
      <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
        class="mt-3">
        <div *ngIf="form.get('password')?.errors?.['required']" class="error">Password is required.</div>
        <div *ngIf="form.get('password')?.errors?.['minlength']" class="error">Password should have at least 8
          characters.</div>
      </div>
    </div>

    <div class="box">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm password"/>
      <div
        *ngIf="form.get('confirmPassword')?.invalid && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)"
        class="mt-3">
        <div *ngIf="form.get('confirmPassword')?.errors?.['required']" class="error">Confirm Password is
          required.</div>
        <div *ngIf="form.get('confirmPassword')?.errors?.['mismatch']" class="error">Passwords do not match
        </div>
      </div>
    </div>

    <div class="button-container">
      <button type="submit" class="submit" [disabled]="form.invalid"><a>Discard Changes</a></button>
      <button type="submit" class="submit" [disabled]="form.invalid"><a>Save</a></button>

    </div>
  </form>
</div>


