<div class="container">
  <br><br>
  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 10%">10%</div>
  </div>

  <h5>Hey Lerato did you know ?</h5>
 
<div class="container">
  <ul class="card-container">
          <div class="row">
              <div class="column">
              <div class="card">Good credit opens doors to favorable financing, lower rates, and better opportunities, highlighting the significance of responsible financial habits for a stronger credit score.</div> 
            </div>
  
        <div class="overlap-group">
           <img src="https://res.cloudinary.com/dgj1ebngq/image/upload/v1690808158/Premium_Vector___Credit_score_meter_gauge_business_report_concept_excellent_good_average_poor_level_scale_credit_rating_performance_design_vector_illustration-removebg-preview_esq9a1.png"
             class="getHomeImg" />
             <br>
             <div class="container">
              <ul class="card-container">
                      <div class="row">
                          <div class="column1">
                           <div class="card">Good credit opens doors to favorable financing, lower rates, and better opportunities, highlighting the significance of responsible financial habits for a stronger credit score.</div> 
                        </div>
              
                    

            
              
             