* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    margin-top: -8vh;
    text-align: center;
    color: #669BBC;
    font-weight: 400;
    margin-bottom: 60px;
}

h5 {
    margin-top: 4vh;
    text-align: center;
    color: #669BBC;
    font-weight: 500;
}


* {
    box-sizing: border-box;
  }
 
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
 .column {
    float: right;
    width: 85%;
    padding: 12px;
    height: 5%;
    margin-left: 80px;
    margin-top: 0px; 
  }

  .column1 {
    float: right;
    width: 20%;
    padding: 80px;
    height: 30%;
    margin-left: 15px;
    margin-top: -70px; 
  }

  .column2 {
    float: right;
    width: 20%;
    padding: 80px;
    height: -81px;
    margin-left: 15px;
    margin-top: -125px; 
  }

  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 5px;
    text-align: center;
   background-color: #669BBC;
    color: #fff;
    margin-left: -75px;
    width: 22rem;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 200px) {
    .column {
      width: 100%;
      display: flex;
      margin-bottom: 30px;
    }
  }
  .container {
    height: 80vh;
    /* position: fixed; */
    margin-bottom: 190px;
  }

.btn
{
    background-color: #669BBC;
    color: #fff;
}

.progress-bar
{
  background-color: #669BBC;
}

.progress-bar
{
  width: 62rem;
}

.submit {
    display: block;
    width: 90%;
    padding: 10px;
    background-color: #669BBC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 22px;
    text-align: center;
    margin-top: -23px;
}

.submit:hover {
    background-color: #669BBC;
}
